
<div class="position-relative overflow-hidden p-10 p-md-0 m-md-0 text-center bg-light">
  <div class="col-md-15 p-lg-5 mx-auto my-5">
    <h1 class="display-4">Bienvenu sur le site de la mosquée Daoua</h1>
    <span class="preambule">Le Très-Haut dit : 
      <br/>وَأَنَّ الْمَسَاجِدَ لِلَّهِ فَلَا تَدْعُوا مَعَ اللَّهِ أَحَدًا
      <br/>Les mosquées sont consacrées à Allah: n'invoquez donc personne avec Allah.
      <br/>Sourate Les djiins / Verset 16
      <br/>
    </span>
    <!--Faire le lien vers les horaires de prière-->
   <div><a class="btn btn-outline-success" href="#">Horaire de prière</a></div> 
    <!--Prayer time -->
<!-- Today Prayers Card-->
<iframe src="http://www.sunnabox.com/salat/widget/387?color1=408302&color2=55585f" 
scrolling="no" frameborder="0" allowtransparency="true"></iframe>
<!--Finish rayer time -->
  </div>
</div>


<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Découvrez</h1>
    <p class="lead text-muted">Les actualités de la mosquée malaval, d'une part celle liée à la mosquée en elle-même mais aussi celle liée à l'institut;</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/Science 2.jpg"  alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Discours hebdomadaire, chaque samedi après salat Al Maghreb. Sur une thématique choisir par l'enseignant</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-outline-info" href="/evenementMosquee">Voir plus</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/Tajwid 2.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Chaque mardi après salat Al Maghreb, un cours portant sur les règles de tajwid est dispensé.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-outline-info" href="/evenementMosquee">Voir plus</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/exegese.jpg"  alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Chaque dimanche après salat Al maghreb, un cours d'éxégèse et de jurisprudence est prodigué.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-outline-info" href="/evenementMosquee">Voir plus</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/rs.jpg"  alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Les dates de rentrée scolaire 2021 / 2022</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-outline-info" href="/informationInstitut">Voir plus</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/eve.png"  alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Les diverses évènement liés à l'institut.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-outline-info" href="/evenementInstitut">Voir plus</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/g_b.png"  alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Plan d’action Covid-19</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a type="button" class="btn btn-outline-info" href="/informationCovid">Voir plus</a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      
      <div class="container mb-4 ">
        <div class="row">
          <div class="col text-center" >
            <button type="button" class="btn btn-outline-primary">Voir toutes les actualités liées<br>à la mosquée</button>
            <button type="button" class="btn btn-outline-info">Voir toutes les actualités liées<br>à l'évènement</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
