
   <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:rgb(39, 39, 39);">
    <a href="#"><img class="img-responsive" src="assets/img/Mosquee_Daoua_icolgt_blc.png" width="203" height="65"/></a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ngToggler></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarsExampleDefault"  [ngbCollapse]="isCollapsed" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="mosquee">La mosquée</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="institut">L'école</a>
        </li>

        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Évènement</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" href="evenementMosquee">Mosquée</a>
            <a class="dropdown-item" href="evenementInstitut">École</a>
          </div>
        </li>

        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Information</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" href="informationCovid">COVID</a>
            <a class="dropdown-item" href="informationInstitut">Institut</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="contact">Contact</a>
        </li>

      </ul>
    </div>
  </nav>
  





<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#"><img class="img-responsive" src="assets/img/Mosquee_Daoua_1.0_horizontale.png" width="200" height="60"/></a>
  <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarTogglerDemo02" 
  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item active">
        <a class="nav-link" href="landing">Acceuil </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="mosquee">La mosquée</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="institut">L'institut</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="mosquee">Évènement</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="mosquee">Information</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="contact">Contact</a>
      </li>
      
    </ul>
  
  </div>
</nav> -->



<!--
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" routerLink="landing">Acceuil</a>
    
    <a class="py-2 d-none d-md-inline-block" routerLink="mosquee">La mosquée</a>
    <a class="py-2 d-none d-md-inline-block" routerLink="institut">L'institut</a>

    
    <div ngbDropdown class="d-inline-block" >
      <a class="py-2 d-none d-md-inline-block" id="dropdownBasic1" ngbDropdownToggle>Évènement</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" routerLink="evenementMosquee">Mosquée</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" routerLink="evenementInstitut">Institut</a>
          </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <a class="py-2 d-none d-md-inline-block" id="dropdownBasic1" ngbDropdownToggle>Information</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item" routerLink="informationCovid">COVID</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" routerLink="informationInstitut">Institut</a>
            </div>
        </div>
      
    <a class="py-2 d-none d-md-inline-block" routerLink="contact">Contact</a>
  </div>
</nav>
-->
