.site-header {

    color: rgb(0, 0, 0);
}

.py-2 {

    color: rgb(0, 0, 0);
}

.py-1 {
    padding-top: 1.75rem!important;
    padding-bottom: 1.25rem!important;
}

.navar{
    
    background-color: #e707071c;
}

