<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <img src="assets/img/Mosquee_Daoua_1.0_verticale_blanc.png" alt="footer_logo" class="img-fluid" width="140" height="54">
                        </a>
                        <div class="footer-social-link">
                            <h3>Suivez-nous</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                   <div class="row">
                       <div class="col-md-6">
                           <!-- <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>

                                 End contact Icon 
                                <div class="contact-info">
                                    <h3>24 Rue Malaval</h3>
                                    <p>13002 Marseille</p>
                                </div>
                                 End Contact Info 
                            </div>
                             End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <!-- <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                 End contact Icon 
                                <div class="contact-info">
                                    <h3>95 711 9 5353</h3>
                                    <p>Besoin de nous ?</p>
                                </div>
                                 End Contact Info 
                            </div> 
                             End Contact Us  -->
                        </div>
                        <!-- End Col -->
                    </div>
                     <!--  End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3>Liens utiles</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="#">La mosquée</a>
                                    </li>
                                    <li>
                                        <a href="#">L"institut</a>
                                    </li>
                                    <li>
                                        <a href="#">Évènement mosquée</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Covid</a>
                                    </li>
                                    <li>
                                        <a href="#">Horaire de prière</a>
                                    </li>
                                    <li>
                                        <a href="#">Évènement institut</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Newsletter</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p style = "color: rgb(253, 253, 253);"><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                                 S'incrire, pour recevoir l'actualités liées à l'institut par mail</p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Adresse mail">
                                            <button type="submit">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                            
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2021, All Right Reserved Mosquée Malaval</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Accueil</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
        <!-- End Back to top -->
</footer>