<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">La documentation liées à l'institut</h1>
      <p class="lead text-muted">Retrouver dans cette rubrique, la liste et les emplois du temps de chaque classe, 
        règlement intérieur de l'institut, ainsi que les différents supports utilisés par les professeurs.
      </p>
    </div>

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Cours sur la prière</h1>
            <p>Ouvrir le fichier PDF  
            <a href="/assets/cours/SUPPORT_La-prière_malava copie.pdf">ici</a>.
            </p>
        </div>

      <div class="container">
          <p>Pour avoir plus d'information sur l'institut, cliquez  
          <a href="/assets/cours/SUPPORT_La-prière_malava copie.pdf">ici</a>.
          </p>
      </div>
  </section>