<div class="position-relative overflow-hidden p-10 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-15 p-lg-1 mx-auto my-10">
      <h5>Mosquée Malaval</h5>
    <h1>L'histoire de la mosquée</h1>
    <div class="col-md-15 p-lg-1 mx-auto my-10">
             <!--  Fiche signalitique -->
        <h2>Fiche signalitique</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="p-2 flex-fill bd-highlight ">
          ❖ Juillet 1990 : acquisition de l'immeuble<br> 
          ❖ 4 octobre 2005 : livraison définitive de l'immeuble<br> 
          ❖ La mosquée est financée à 100% par les fidèles<br> 
          ❖ Le cout : environs 2 millions d'euros TTC<br> 
          ❖ Une partie des travaux est assurée par les bénévoles,<br>
          sauf les travaux nécessitant des entreprises agrées
      </div>
      <div class="p-2 flex-fill bd-highlight">
          ❖ Le Minaret : 17 mètres de hauteur<br> 
          ❖ L'intérieur : 3 salles de prières. <br> 
              - Dont deux pour les hommes : RDC et 1ère étage.<br> 
              - Une pour les femmes, aux deuxièmes<br> 
          ❖ La partie enseignement : quatre salles de cours pour 85 élèves<br>
    </div>
  </div>
</div>


<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>