<div class="position-relative overflow-hidden p-md-5 text-center bg-light">
  <div class="col-md-15 p-lg-1 mx-auto my-10">
      <h5 style="margin-top: 50px;">Mosquée Daoua</h5>
    <h1>L'histoire de la mosquée</h1>
    <div class="col-md-15 p-lg-1 mx-auto my-10">
             <!--  Fiche signalitique -->
        <h2>Fiche signalitique</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="p-2 flex-fill bd-highlight ">
          ❖ Juillet 1990 : acquisition de l'immeuble<br> 
          ❖ 4 octobre 2005 : livraison définitive de l'immeuble<br> 
          ❖ La mosquée est financée à 100% par les fidèles<br> 
          ❖ Le coût : environ 2 millions d'euros TTC<br> 
          ❖ Une partie des travaux est assurée par les bénévoles,<br>
          sauf les travaux nécessitant des entreprises agrées
      </div>
      <div class="p-2 flex-fill bd-highlight">
          ❖ Le Minaret : 17 mètres de hauteur<br> 
          ❖ L'intérieur : 3 salles de prières. <br> 
              - Dont deux pour les hommes : RDC et 1er étage.<br> 
              - Une pour les femmes, aux deuxièmes<br> 
          ❖ La partie enseignement : quatre salles de cours pour 85 élèves<br>
    </div>
  </div>
</div>


<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-100 mx-auto">
    <h1 class="jumbotron-heading">Des rénovations permanentes</h1>
    <h4>assurée par les dons des fidèles</h4>
    <p class="lead text-muted">Les rénovations concernent aussi bien l'école que la mosquée.</p>
    </div>
  </div>
</section>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>


<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Pourquoi construire cet institut ?</h1>
      <p class="lead text-muted">Un constat simple : l'école n'a que peu d'effets sur la société du fait qu'elle ne forme que les jeunes,
        alors que ce sont les adultes qui ont besoin d'éducation. Le but est d'enseigner les vertus de l'islam en exigeant de chacun une part de son temps libre.
        Afin, de s'améliorer et de faire une introspection qui par la suite permet aux hommes de s'ouvrir aux mondes.
      </p>
      <p>«En vérité, Dieu ne modifie point l’état d’un peuple, tant que les gens le composant ne modifient pas ce qui est en eux-mêmes» <br>S13-V11</p>
    </div>
  </div>
</section>

<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Galerie</h2>
                <p class="text-center">L'intérieur de la mosquée et de l'école Daoua </p>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/coran.png" data-lightbox="photos"><img class="img-fluid" src="assets/img/coran.png"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/fotolia.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/fotolia.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/Vakil.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/Vakil.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/tafsir.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/tafsir.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/science.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/science.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/tajwid.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/logo2.jpg"></a></div>
            </div>
        </div>
    </div>
  