<div class="position-relative overflow-hidden p-md-5 text-center bg-light">
    <div class="col-md-15 p-lg-1 mx-auto my-10">
        <h5>Vous trouverez sur cette page les informations covid applicable pour l'institut, ainsi que pour la mosquée.</h5>
      <h1>Information Covid-19</h1>
      <div class="col-md-15 p-lg-1 mx-auto my-10">
               <!--  Fiche signalitique -->
          <h2></h2>
      </div>
      <div class="d-flex justify-content-center">
        <div class="p-2 flex-fill bd-highlight ">
            ❖ Pas de passe sanitaire exigé.<br> 
            ❖ Se désinfecter les mains à l'entrée.<br> 
            ❖ Respect des distanciations sociales<br> 
        </div>
        <div class="p-2 flex-fill bd-highlight">
            ❖ Le port du masque est obligatoire.<br> 
            ❖ Gel hydroalcoolique mis à disposition.<br>
            ❖ Pas de bise, ni d'accolage, ni de serrage de main.<br>
      </div>
    </div>
  </div>
  
  <section><br><br></section>
  
 
   <!-- <div class="container">
        <p>Découvrez toutes les informations Covid-19 à jours, via le lien suivant ☞  
        <a href="https://www.gouvernement.fr/info-coronavirus">ici</a>.
        </p>
    </div>-->
    <div>
        <marquee direction="left" behavior="alternate" scrollamount="4" style="width:1180px;background-color:#ff0404a1;
        font-family:Cursive;font-size:22pt;color:#000000;" > Découvrez toutes les informations Covid-19 à jours, via le lien suivant ☞  
            <a href="https://www.gouvernement.fr/info-coronavirus">ici</a>.
       </marquee>
    </div>

    <div class="row">
        <div class="column">
            <img src="assets/img/afcovid.jpeg" width="591" height="886" >
            <img src="assets/img/afcovid1.jpeg" width="591" height="886" >
            <img src="assets/img/afcovid2.jpeg" width="591" height="886" >
            <img src="assets/img/afcovid3.jpeg" width="591" height="886" >
        </div>
    </div>

<div>
    <marquee direction="left" behavior="alternate" scrollamount="4" style="width:1180px;background-color:#d3b280;
    font-family:Cursive;font-size:22pt;color:#000000;" > Découvrez toutes les informations Covid-19 à jours, via le lien suivant ☞  
        <a href="https://www.gouvernement.fr/info-coronavirus">ici</a>.
   </marquee>
</div>