<section id="services" class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-10">
                     <h1 class="title">Les évènements 2021</h1>
                     <p class="text">Chaque année pour les étudiants des évènements sont organisées.
                         <br>Ces évènements sont d'ordre culturel ou cultuel.
                         <br>Le but de ses évènements est d'établir un vrai lien entre élèves et enseignants.</p>
                </div> 
             </div>
        </div> 


        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                         <h4 class="features-title">Concour de coran</h4>
                            <div class="features-icon">
                                <i class="lni lni-brush"></i>
                                <img class="shape" src="assets/img/f-shape-1.svg" alt="Shape">
                            </div>
                    </div>

                    <div class="features-content">
                        <p class="text">En fin d'année ce déroule un concours de coran entre les élèves. 
                            Les meilleures se voient récompensées pour leur effort fournis tout au long de l'année.</p>
                    </div>
                </div> 
             </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title">Séjour pédagogique</h4>
                            <div class="features-icon">
                            <i class="lni lni-layout"></i>
                            <img class="shape" src="assets/img/IMG_0083.JPG" width="50" height="50" alt="Shape">
                            </div>
                    </div>
                        <div class="features-content">
                        <p class="text">Découverte de la montagne et de la nature à travers différents atelier à plus de 750m d'altitude.
                            Le séjour de cinq jours à lieu à La Robine sur Galabre, petit village situé à 12 km de Digne.
                        </p>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title">Sortie scolaire</h4>
                            <div class="features-icon">
                                <i class="lni lni-bolt"></i>
                                <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                            </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Tout au long de l'année des sorties sont organisées, pour divertir les élèves, mais pour aussi leur inculquer un esprit fraternel.  
                            Des futsal, des sorties piscine ou des gouters dans des lieux externe à l'institut sont réalisées.</p>
                        
                    </div>
                </div> 
            </div>
        </div> 
    </div> 
</section>
        
                
<section id="eventprof" class="pricing-area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Évènement liés aux enseignants</h3>
                    <p class="text">La volonté de vouloir créer une cohesion entre les élèves passe au préalable par une cohesion entre les enseigants.</p>
                </div> 
            </div>
        </div> 
        <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style mt-30">
                        <div class="pricing-icon text-center">
                            <img src="assets/images/basic.svg" alt="">
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Dejeuner</h5>
                            <p class="text">Tout au long de l'année des repas ont lieux entre les enseignants pour qu'ils aprennent à ce connaître.</p>
                        </div>
                </div> 
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/pro.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Réunion</h5>
                        <p class="text">Les réunions entre professeurs permettent déchanger sur les difficultés rencontrer et de trouver une solution pour les élèves en difficultés.</p>
                    </div>
                </div> 
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/enterprise.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">L'expérience</h5>
                        <p class="text">Les enseignants ne cessent de se former dans le but d'améliorer leurs cours. 
                            Avec la crise sanitaire, ils ont du redoubler d'effort pour assurer leurs cours en distenciel et enseigner d'une nouvelle manière. </p>
                    </div> 
                </div> 
            </div>
        </div> 
    </div> 
</section>


<section id="about" class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                 <div class="faq-content mt-45">
                    <div class="about-title">
                        <h6 class="sub-title">A Little More About Us</h6>
                        <h4 class="title">Frequently Asked Questions <br> About Our Site</h4>
                    </div> 
                    <div class="about-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Frequently Asked Question One</a>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                    <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                 </div>
                            </div>
                        </div> 
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                 <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Frequently Asked Question Two</a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
                                </div>
                            </div>
                        </div> 

            <!--Faut faire l'indentation-->           
            <div class="card">
            <div class="card-header" id="headingThree">
            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Frequently Asked Question Three</a>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
            <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
            </div>
            </div>
            </div> 
            <div class="card">
            <div class="card-header" id="headingFore">
            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">Frequently Asked Question Four</a>
            </div>
            <div id="collapseFore" class="collapse" aria-labelledby="headingFore" data-parent="#accordionExample">
            <div class="card-body">
            <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
            </div>
            </div>
            </div> 
            <div class="card">
            <div class="card-header" id="headingFive">
            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Frequently Asked Question Five</a>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
            <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat volutpat. Nullam lacinia felis.</p>
            </div>
            </div>
            </div> 
            </div>
            </div> 
            </div> 
            </div>
            <div class="col-lg-7">
            <div class="about-image mt-50">
            <img src="assets/images/about.jpg" alt="about">
            </div> 
            </div>
        </div> 
    </div> 
</section>
        
    