<section id="services" class="features-area">
    <div class="container my-5">
        <div class="row justify-content-center ">
            <div class="col-lg-6 ">
                <div class="section-title text-center pb-10 my-2">
                        <h1 class="jumbotron-heading">Les évènements 2021</h1>
                        <p class="lead text-muted">Chaque année pour les étudiants des évènements sont organisées.
                          <br>Ces évènements sont d'ordre culturel ou cultuel.
                          <br>Le but de ses évènements est d'établir un vrai lien entre élèves et enseignants.</p>
                      </div>
             </div>
        </div> 
     

        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Blended to Perfection</span>
                                <span class="section-heading-lower">Concour de coran</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/coran.jpg" width="960" height="720" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">En fin d'année ce déroule un concours de coran entre les élèves. 
                            Les meilleures se voient récompensées pour leur effort fournis tout au long de l'année.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">Séjour pédagogique</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/IMG_0083.JPG" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Découverte de la montagne et de la nature à travers différents atelier à plus de 750m d'altitude.
                            Le séjour de cinq jours à lieu à La Robine sur Galabre, petit village situé à 12 km de Digne.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">Sortie scolaire</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/futsal.jpg" width="960" height="720" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Tout au long de l'année des sorties sont organisées, pour divertir les élèves, mais pour aussi leur inculquer un esprit fraternel.  
                            Des futsal, des sorties piscine ou des gouters dans des lieux externe à l'institut sont réalisées.</p></div>
                    </div>
                </div>
            </div>
        </section>


<!--Partie pour les prof -->

    <div class="section-title text-center pb-10 my-2">
        <h1 class="title">Évènements liés aux enseignants</h1>
        <p class="text">La volonté de vouloir créer une cohesion entre les élèves,
            passe au préalable par une cohesion entre les enseigants.</p>
    </div> 
   
 
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Blended to Perfection</span>
                                <span class="section-heading-lower">Dejeuner</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/dej.jpg" width="960" height="720" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Tout au long de l'année des repas ont lieux entre les enseignants pour qu'ils aprennent à ce connaître.
                        C'est aussi le moment pour eux, d'échanger sur leurs façon d'enseigner et créer une cohesion entre eux.
                        </p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">Réunion</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/reun.jpg" width="960" height="720" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Les réunions entre professeurs permettent déchanger sur les difficultés rencontrer et de trouver une solution pour les élèves en difficultés.
                            Les réunions de pré-rentrées permettent d'établir le programme scolaire, la répartition des élèves dans les classes, ainsi que les emplois du temps.
                            Ces réunion permettent d'établir les objectifs que doit atteindre chaque professeurs.
                        </p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Delicious Treats, Good Eats</span>
                                <span class="section-heading-lower">L'expérience</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="assets/img/expe.png" width="960" height="720" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Les enseignants ne cessent de se former dans le but d'améliorer leurs cours. 
                            Avec la crise sanitaire, ils ont du redoubler d'effort pour assurer leurs cours en distenciel et enseigner d'une nouvelle manière.
                        Tout les professeurs sont diplômées pour la/les matière(s) qu'ils enseignent. Leurs anciennetés au sein de l'institut, leurs donne une certaine proximités avec les élèves.</p></div>
                    </div>
                </div>
            </div>
        </section>
    </div> 
</section>


        
    