
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="assets/img/logo2.jpg"  alt="Generic placeholder image" width="300" height="300">
            <h2>Cheikh Mohamed<br>Omar</h2>
            <p>Discours hebdomadaire, chaque samedi après salat Al Maghreb. La thématique du discours est choisi par le cheikh.</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle" src="assets/img/logo2.jpg" alt="Generic placeholder image" width="300" height="300">
            <h2>Cheikh Mounir Boumaaza</h2>
            <p>Chaque mardi après salat Al Maghreb, un cours portant sur les règles de tajwid est dispensé. Durant ce cours, l'enseignant explique une règle et montre aux élèves comment l'appliquer. 
                C'est un cours libre ou tout le monde peut assister et participer</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="assets/img/logo2.jpg" alt="Generic placeholder image" width="300" height="300">
            <h2>Cheikh Abderrahmane Khoudrane</h2>
            <p>Chaque dimanche après salat Al maghreb, un cours d'éxégèse et de jurisprudence est prodigué. 
                L'enseignant expose un verset coranique, et il explique le sens mais aussi les raisons de la révélation du verset.</p>          
 
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h4 class="featurette-heading">D'après Aicha (qu'Allah l'agrée),<span class="text-muted"><br>le Prophète (paix et bénédiction sur lui) a dit: </span></h4><br>
            <p class="lead1">« Aucun homme n'est sorti de sa maison pour la recherche de la science sans qu'Allah ne lui facilite un chemin vers le paradis ».<br><br>
                (Rapporté par Tabarani et authentifié par cheikh Albani dans Sahih Al Jami n°5617)</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="assets/img/Science 2.jpg" width="540" height="540" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h4 class="featurette-heading">L'importance de lire le Coran en Tajwid <span class="text-muted"><br>Les premières révélations faites au Prophète (paix et bénédiction de Dieu sur lui) indiquent la façon de réciter le Coran</span></h4>
            <p class="lead2"><br>Dieu (le Très-Haut) a débuté la révélation du Coran par : "Lis, au nom de ton Seigneur qui a créé, qui a créé l'homme d'une adhérence." 
                <br>(Sourate l'adhérence/Verset 1)<br><br>

                Toute de suite après, dans la Sourate 73 (l'enveloppé), fut révélée une manière particulière de réciter le Coran, celle ci deviendra la forme la plus commune de lecture du Coran chez les musulmans.<br>
                
                <br>Dieu (le Très-Haut) a dit : "Et récite le Coran, lentement et correctement" <br>(Sourate l'enveloppé/ Verset 4)<br><br>
                
                Cette manière de récitation [At-Tilâwa] du Coran obéit aux règles du tajwid.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="assets/img/Tajwid 2.jpg" width="540" height="540" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h4 class="featurette-heading">L'importance d'apprendre le sens des versets du Coran <span class="text-muted">L'imam Ibn Jarir At Tabari (mort en 310 du calendrier hégirien) a dit :</span></h4>
            <p class="lead3"><br>« Je suis certes vraiment étonné d'une personne qui lit le Coran mais qui ne connait pas son sens, comment peut-il ressentir du plaisir dans sa lecture ?! ».<br><br>Mou'jam Al Oudaba p 2453</p>

            <h4 class="featurette-heading">Allah le très haut a dit : </h4>
            <p class="lead4"><br>« Ne méditent-ils pas sur le Coran ? Ou y a-t-il des cadenas sur leurs coeurs ? ».<br><br>Sourate Muhammad / verset 24 </p>
        </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="assets/img/exegese.jpg" width="540" height="540" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
     Just to make our placeholder images work. Don't actually copy the next line!
    <script src="../../assets/js/vendor/holder.min.js"></script>-->
 